body{

background-image: url('https://i.gifer.com/N2.gif')         ;
font-family: 'Montserrat', sans-serif;
background-size: cover;


}
image{
    style="max-width:100%;height:auto;
    size: 20px;
}

#heading{


font-size: 100px ;
margin-left: 50px;
color: white;
margin-top: 70px;
font-family: 'Montserrat', sans-serif;

}

.card{

margin-left: 170px;
margin-top: 60px;
font-family: 'Montserrat', sans-serif;
size: 60px;



}

.card-header{


font-size: 25px;


}

@media only screen and (max-width: 1085px ) {
    body {
      
      background-image: url('https://i.kym-cdn.com/photos/images/newsfeed/000/705/188/7c7.gif    ');
      background-size: cover;
       

    }
  }

#headingg{

    
    font-size: 50px;
    margin-left: 150px;
    color: white;
    margin-top: 70px;
    font-family: 'Montserrat', sans-serif;


}

.link{

text-align: center;
margin-left: 290px;


}